# Analisis Preliminar de la Calidad de Datos

---

por el gran tamaño del dataset solo voy a trabajar con una muestra de los datos para validar la integridad de los datos, para solucionar los potenciales problemas que puedan llegar los siguientes datasets voy a crear funciones de normalizacion para corregir errores, los siguientes datasets pasaran por estas funciones para cumplir con un estandar entre todos las fuentes

In [350]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sb
import pickle

YELP

In [351]:
yelp_review_df = pd.read_json('data/Yelp/review.json', lines=True, nrows=100000)

In [352]:
yelp_checkin_df = pd.read_json('data/Yelp/checkin.json', lines=True, nrows=100000)
yelp_tip_df = pd.read_json('data/Yelp/tip.json', lines=True, nrows=100000)

In [353]:
yelp_business_df = pd.read_pickle('data/Yelp/business.pkl')

In [354]:
yelp_user_df = pd.read_parquet('data/Yelp/user.parquet')

---

Google

In [355]:
google_metadata_1= pd.read_json('data/Google_Maps/metadata-sitios/1.json', lines=True)

In [356]:
google_reviews_florida_1= pd.read_json('data/Google_Maps/reviews-estados/review-Florida/1.json', lines=True)

## 1_ Validacion de datos

En primera instancia para validar los datos tengo que confirmar que los datos son precisos y estan actualizados para no producir sesgos o concluciones erroneas, en esta primera instancia del analisis preliminar se evaluara la exactitud de los datos

#### Pruebas

##### Fecha

In [357]:
yelp_review_df.sample(10)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
27427,4Sqc8UCJDS15ILHACm0Veg,4XrMf_V5gvKRpxqjzVCvAQ,_PQzeo8P2sGczzFEifrK-Q,5,0,0,0,I like to make my own pizza at home with some ...,2010-05-22 16:57:08
79702,fGfjsljmemclk4XVyGYVDA,pHZucIv7_JS3kf1MOXdO5w,hUX1yAimviBIhb21D_KtcQ,4,0,0,0,"Been here a few times, and have always had a p...",2014-07-20 08:12:21
25419,Q2Aup2xiJLxPDQHmhjKieg,JWrGWXIP2QxInULsa5sQfQ,TuYx8LUw7shzFGXQuUmbNA,3,0,0,0,Great atmosphere. The breakfast is good. Just ...,2011-02-18 21:17:56
6738,FoTFxAMkGXSQVsSCIqSfzg,PhhDnjQwbqd3dGoUSJJMhQ,KNalXv3NN-ZG6v4lgrIFDg,5,0,0,0,Wonderful customer service from phone agent I ...,2017-10-25 17:52:59
98753,_kbxttR2oVERIA7E_y6Z4A,yjTgje3jztFBxm5wo0Or5A,Rk2ezSIbCuIVIpiOv-RaZg,5,1,0,0,Chris is a down-to-earth guy and great barber....,2015-09-01 19:31:57
6765,iDTQsiuIiOzIBGcDUEcN9g,RUQkywD4HQv2hvfv69Qq5g,M0r9lUn2gLFYgIwIfG8-bQ,3,0,0,0,We went to Bailey's Range to have dessert with...,2016-07-15 08:32:14
1470,WP3w3rZSlsoNI2XGc3rIhg,qVEOVvc9gB29v7IAWsnA_g,pSmOH4a3HNNpYM82J5ycLA,4,0,0,0,I would eat anything they served me. I haven't...,2015-04-01 15:14:39
85798,GdP1t0k6nlXRRLSz-MUtqg,KGhX35I5vT-2C2c0NyDxEg,gqMRM12j5mder76t3bPxJw,5,0,0,0,"The panang curry i had was amazing , great foo...",2016-02-13 21:38:25
6193,nL0tg6j_mN0sDh8xj3OWSQ,SaxpT4dGrSYgnmya5ToJfg,MmIF3ZlBPwOknea6-IzlQg,5,0,0,0,Really good chicken tenders. Overpriced. Driv...,2016-02-24 02:14:46
56933,fpnFPRj1V984lcFgUcJU7w,stlrdjWNsXHmTRa3OyJ6nQ,y9CRaDv1ZRZkSjt7ZuZ-mg,5,0,0,0,I had a wonderful stay at this Inn in Septembe...,2014-09-26 13:39:08

In [358]:
yelp_review_df['date'] = pd.to_datetime(yelp_review_df['date'])
yelp_review_df['year'] = yelp_review_df['date'].dt.year
unique_years = sorted(yelp_review_df['year'].unique().tolist())

In [359]:
unique_years

[2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018]

In [360]:
yelp_checkin_df.sample(10)

,business_id,date
99569,kOmQcNEFrVIygJ_kH3QhUg,"2019-04-30 15:34:59, 2019-08-24 19:15:15, 2019..."
70983,XUOysu1I7Hv3h61WVa_tTg,2018-06-07 23:30:35
66618,VNtGXo7oZF40fTDJkvtSZw,2021-08-25 13:21:00
90500,fyr5ZVNG4q5aeEOkm7wp7w,"2010-03-14 16:46:10, 2012-04-11 18:44:39, 2014..."
53716,P6z5G3y-B-BMzUaI3Hfrog,"2015-01-09 23:21:06, 2015-07-09 21:16:19, 2015..."
36065,GTLgSHSSZOde4ZUrp0mC0A,"2014-08-21 16:51:05, 2014-08-22 15:32:58, 2014..."
4633,1Amamp-Vk8KtsBA914-fEQ,2019-04-04 23:03:05
60195,SGsidlOaky7Piw7rQgdc3g,2020-02-14 17:39:16
15654,6UzLtXTdLJKNHmn70J29Ig,"2017-07-04 23:20:51, 2017-07-04 23:21:42, 2018..."
1736,-pxAX6XuZaiENss12o9PdQ,2016-09-24 18:58:31

In [361]:
yelp_checkin_df.columns

Index(['business_id', 'date'], dtype='object')

In [362]:
yelp_checkin_df['date'] = yelp_checkin_df['date'].str.split(',')

df = yelp_checkin_df.explode('date')

df['date'] = pd.to_datetime(df['date'].str.strip())

df['year'] = df['date'].dt.year

unique_years = sorted(df['year'].unique().tolist())
unique_years

[2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022]

In [363]:
yelp_tip_df.sample(10)

,user_id,business_id,text,date,compliment_count
66176,TaymD7MKm8OH1VI77kMWMw,S8obO75HdAxvT0QPAMFqwg,Mmmm hush puppies!,2010-12-19 00:46:04,0
83009,2JMzlGavy2l3BHqF8MQ1zA,mIpgEr-gCPv3OCocDVK5yg,Cool place to hang out and laugh BYOB,2014-06-29 02:25:30,0
84977,k8tLdCySPlbygkUdiC_6Cw,UUJ5av87wFfxKqJBIerN6A,Better than Dunkin donuts crap. Castle burgers...,2013-03-03 08:14:11,0
12135,Jk3RHyJqtGIENnpa27X6ww,u2mffNFFTyysmOTCe-EF5Q,Awesome place,2013-02-17 23:30:44,0
2087,3y1x1u9Bc-43lXJzgki0Xg,h_RQXD7IKwDkVU_n67UG4w,Our quest for a new breakfast place will revie...,2013-06-08 14:10:42,0
76859,1JtpcHELRrSDoWS80WtzuQ,PUT3fHPP4AYRtqFtka80sQ,No outside alcohol,2016-05-14 22:42:23,0
7075,pkP3z8r_3mmkHZ7EuiVahg,1vLZFm0f85DwB5jCeA7Olg,Get the Sirnoran sliders you won't regret it!,2012-08-04 05:00:21,0
11344,1idBtULpm_59kT9JP0wklg,AlH5V97JSAu7AL_xdibMIg,Tiger shrimp with orzo - good!,2012-03-28 01:30:44,0
17070,NwQWzA31JolOIlpxaP6AQQ,qsuoiCiQQWH46D4kWGB7Ag,We showed up on 1-30-16 about 1. They look lik...,2016-01-30 19:29:57,0
93453,IfUap3l-UVc7-FH_j8wPFw,yzcZ0VkgyxmiH5M_87ADOg,Argh! They got rid of the pizza phone.,2011-06-17 22:54:59,0

In [364]:
yelp_tip_df.columns

Index(['user_id', 'business_id', 'text', 'date', 'compliment_count'], dtype='object')

In [365]:
yelp_tip_df['date'] = pd.to_datetime(yelp_review_df['date'])
yelp_tip_df['year'] = yelp_review_df['date'].dt.year
unique_years = sorted(yelp_review_df['year'].unique().tolist())
unique_years

[2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018]

In [366]:
yelp_business_df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'business_id', 'name', 'address',
       'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars',
       'review_count', 'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [367]:
yelp_business_df.sample(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
30099,0wqFK6N_9dAddRBcF7VIkw,Wild Birds Unlimited,10480 Overland Rd,Boise,PA,83709,43.591734,-116.31269,4.5,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85604,ogB4_Bdn1KD-aRk3ZWeqJg,Impossibles Magic Shop & Theatre,"780 Smithridge Dr, Ste 450, Smithridge Busines...",Reno,FL,89502,39.479228,-119.786656,5.0,61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19180,Ex3sDfs_cdSnDqOb_qM5RA,Elevation Burger,3945 Welsh Rd,Willow Grove,TN,19090,40.155628,-75.140057,3.5,165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134465,t9EgddDo6JwfTMbylyRcvQ,Greiner's Fine Men's Clothing,117 E Whiting St,Tampa,LA,33602,27.945093,-82.457293,4.5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82310,Zx5kZ5KjzVUH-1TE1RW4fg,Bed Bath & Beyond,9590 E 22nd St,Tucson,AZ,85748,32.205079,-110.788144,4.0,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [368]:
selected_columns = yelp_business_df[['is_open', 'attributes', 'categories', 'hours']]

selected_columns.sample(5)

,is_open,is_open,attributes,attributes,categories,categories,hours,hours
135887,1,NaN,"{'AcceptsInsurance': 'True', 'ByAppointmentOnl...",NaN,"Dialysis Clinics, Health & Medical, Pediatrici...",NaN,"{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W...",NaN
134963,1,NaN,"{'BusinessAcceptsCreditCards': 'False', 'Busin...",NaN,"Home Cleaning, Home Services, Professional Ser...",NaN,"{'Monday': '8:0-19:0', 'Tuesday': '9:0-18:30',...",NaN
45284,0,NaN,"{'BikeParking': 'True', 'GoodForKids': 'False'...",NaN,"Restaurants, Tapas/Small Plates, Cajun/Creole,...",NaN,"{'Monday': '17:30-21:30', 'Tuesday': '17:30-21...",NaN
128129,1,NaN,"{'BusinessParking': 'None', 'RestaurantsPriceR...",NaN,"Cafes, Event Planning & Services, Delis, Sandw...",NaN,"{'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ...",NaN
42854,1,NaN,None,NaN,"Pet Training, Pets, Pet Services",NaN,"{'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ...",NaN

In [369]:
yelp_user_df.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [370]:
yelp_user_df.sample(5)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
1984154,JcisG_vNA2VV4ELIkwkJgQ,Paul,39,2010-02-28 01:35:39,105,14,11,,None,0,...,0,0,0,0,0,0,1,1,0,1
1748602,l1j-ETBHO9ZfK-3KD1PquQ,Karol,1,2012-08-19 11:51:33,0,0,0,,None,0,...,0,0,0,0,0,1,0,0,0,0
698082,P7rheN3vw9RHt4yQQe4uvw,Yessenia,2,2021-03-27 13:36:27,0,0,1,,"4SQYZXb-liVtkfZYLq00BQ, _33TcjDYjM6BBlgtT0Ijug...",0,...,0,0,0,0,0,0,0,0,0,0
507983,pkeen5SN_1BiKp5CE433zA,Marian,1,2021-01-17 03:12:04,2,0,1,,"-rPnqWZNwUBJSxQmOitzxA, e8074nYBJ4tVnYHuOfwppg...",0,...,0,0,0,0,0,0,0,0,0,0
418324,2XSTgII-JmlusUOaYQHa3g,Bryanna,8,2012-10-21 21:59:25,11,0,3,,"y6-NkzLZvsoxxVrYoSTWjw, k3n5hyKOFVWVClDHbBEuVw...",0,...,0,0,0,0,0,0,0,0,0,0

In [371]:
selected_columns = yelp_user_df[['average_stars','review_count']]

selected_columns.sample(5)

         average_stars  review_count
1509495           3.50             2
1428034           3.67             3
1475016           5.00             7
1856948           3.00             2
611310            3.98            46

In [372]:
google_metadata_1.sample(5)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
130153,402 Auto Detailing,"402 Auto Detailing, 7604 Western Ave, Omaha, N...",0x87938dbb15b851ff:0x3df96a15b00235ba,None,41.270812,-96.030969,[Car detailing service],5.0,2,None,"[[Saturday, Closed], [Sunday, Closed], [Monday...",None,Closed ⋅ Opens 8:30AM Mon,None,https://www.google.com/maps/place//data=!4m2!3...
182158,Cornerstone Medical Services,"Cornerstone Medical Services, 453 S High St # ...",0x8830d623f2e5374d:0xa32b64a7e709d524,None,41.073466,-81.521668,[Medical supply store],2.4,75,None,"[[Wednesday, 8:30AM–5PM], [Thursday, 8:30AM–5P...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 8:30AM,"[0x883128eda13b71af:0x11424802b3f64c7e, 0x8830...",https://www.google.com/maps/place//data=!4m2!3...
70029,St. John Community Gardens,"St. John Community Gardens, 3916-3920 St John ...",0x87c0fa5960215b15:0x44d553fcf4f28fd6,None,39.113273,-94.535289,[Garden],4.5,13,None,None,{'Amenities': ['Good for kids']},None,"[0x87c0f1704c0afb3d:0xed6cb3220e5b751c, 0x87c0...",https://www.google.com/maps/place//data=!4m2!3...
112486,"AAA Sign Company, Inc.","AAA Sign Company, Inc., 2015 Westside Dr, Augu...",0x886ca9fd520b4bbf:0x3f552806e7e22bb2,None,33.526221,-82.044033,[Sign shop],3.9,17,None,"[[Sunday, Closed], [Monday, 8AM–5PM], [Tuesday...","{'Service options': ['In-store pickup'], 'Acce...",Closed ⋅ Opens 8AM Mon,"[0x88f9d40d4d6089b1:0xf21fb008638c4a43, 0x88f9...",https://www.google.com/maps/place//data=!4m2!3...
163791,Circle K,"Circle K, 275 S Main St, Versailles, KY 40383",0x88426f7543748071:0xbb9f75ba7b7f38e,None,38.049961,-84.731049,[Convenience store],4.3,6,$,"[[Wednesday, Open 24 hours], [Thursday, Open 2...","{'Service options': ['In-store shopping'], 'Ac...",Open 24 hours,"[0x88426f0b1c6fe905:0x1c5d448896d0a37b, 0x8842...",https://www.google.com/maps/place//data=!4m2!3...

In [373]:
google_metadata_1.columns

Index(['name', 'address', 'gmap_id', 'description', 'latitude', 'longitude',
       'category', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC',
       'state', 'relative_results', 'url'],
      dtype='object')

In [374]:
filtered_df = google_metadata_1.loc[google_metadata_1['gmap_id'] == '0x88d9b2286102282d:0xb63f312066dc821c']

filtered_df

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
81260,MPower Project Fitness,"MPower Project Fitness, 9301 NE 6th Ave, Miami...",0x88d9b2286102282d:0xb63f312066dc821c,None,25.860706,-80.184789,"[Gym, Fitness center]",4.8,77,None,"[[Monday, 5AM–10PM], [Tuesday, 5AM–10PM], [Wed...","{'Service options': ['Onsite services', 'Onlin...",Open ⋅ Closes 10PM,"[0x88d9b18f4d33414b:0x3d8d8ad1bc59c1e8, 0x88d9...",https://www.google.com/maps/place//data=!4m2!3...

In [375]:
google_reviews_florida_1.sample(5)

,user_id,name,time,rating,text,pics,resp,gmap_id
14690,1.149704e+20,Chevel Campbell,1499829130670,5,None,None,None,0x88d9ab862b6c2589:0x2972f229e4daef95
51904,1.120506e+20,Nick Y,1540394666597,5,Living in the south side is fun and yes I defi...,None,None,0x88c2e18f746154f5:0x288229b676c176c8
25125,1.100860e+20,Raquel Correa,1498167831318,5,Good experience,None,None,0x88c2dd06a2a40ad3:0xc478ebeeeee8f050
17777,1.149486e+20,Melissa Forbes,1606147475283,5,Noel is always very helpful and reasonably pri...,None,None,0x88e7d7835fbe8a89:0xa6deb11e1045ae4d
123039,1.156123e+20,J P,1537803559512,5,A+ storage facility.,None,None,0x88c2c34640e42c63:0x777fd59ae741721f

In [376]:
google_reviews_florida_1.columns

Index(['user_id', 'name', 'time', 'rating', 'text', 'pics', 'resp', 'gmap_id'], dtype='object')

In [377]:
filtered_df = google_reviews_florida_1.loc[google_reviews_florida_1['gmap_id'] == '0x88d9b2286102282d:0xb63f312066dc821c']

filtered_df

,user_id,name,time,rating,text,pics,resp,gmap_id
26915,1.109162e+20,David Shoaf,1602331057450,5,Super clean and well spaced. Great equipment....,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26916,1.087434e+20,Ana G,1576774773841,5,My favorite gym! The staff is always accommoda...,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26917,1.096726e+20,Tidra Parkes,1603556594479,5,"Professional staff, clean gym and very conside...",None,None,0x88d9b2286102282d:0xb63f312066dc821c
26918,1.162110e+20,Nik Massey,1604361690595,4,Good gym with most of the machines and free we...,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26919,1.166890e+20,Liliana,1562436513045,4,"If you are looking for a fancy gym, this is no...",None,None,0x88d9b2286102282d:0xb63f312066dc821c
26920,1.034246e+20,Nick Christo,1488508847477,5,Great place to get a workout in without too ma...,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26921,1.121785e+20,Alejandro Sebastián Scotti,1505592902557,5,"Great gym! Good space, lots of equipment and w...",None,None,0x88d9b2286102282d:0xb63f312066dc821c
26922,1.043690e+20,Printing On the Mark M,1569872964883,5,"Great place to workout, friendly location! Com...",None,None,0x88d9b2286102282d:0xb63f312066dc821c
26923,1.167894e+20,John Murray,1546051302106,5,Love this gym. Affordable and has everything I...,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26924,1.128634e+20,MB,1535055753365,5,Nice clean neighborhood gym. Good quality equi...,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26925,1.097201e+20,Chris Russo,1629496268711,5,Like being at home with friends..always room t...,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26926,1.114570e+20,Amanda Christo,1490824729762,5,"Nice gym, intimate setting, affordable prices,...",None,None,0x88d9b2286102282d:0xb63f312066dc821c
26927,1.065558e+20,Esperanza Rodriguez,1488441160159,5,"Never overcrowded, clean, super friendly staff...",None,None,0x88d9b2286102282d:0xb63f312066dc821c
26928,1.026057e+20,Kira Kismet,1579100201586,5,Wonderful atmosphere and staff,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26929,1.142591e+20,Karin Whyte,1494459351980,3,3 stars because the staff is nice.,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26930,1.138789e+20,Richie Castro,1514582128254,5,A great friendly neighborhood gym,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26931,1.119625e+20,Carlos Fernandez,1518917488411,5,great place to work out,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26932,1.161998e+20,s r,1601413020659,5,Closer to home...,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26933,1.093705e+20,Derrick Johnson,1501247346249,5,Love my GYM,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26934,1.167858e+20,vanda guimaraes,1545440748128,5,(Translated by Google) Excellent gym.\n\n(Orig...,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26935,1.098794e+20,Leibi Paredes,1570647012972,5,(Translated by Google) The best\n\n(Original)\...,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26936,1.046029e+20,Jonathan Shoaf,1556488957602,5,None,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26937,1.095405e+20,Steven D,1569552786371,5,None,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26938,1.013370e+20,Jonathan Joe Blair Lawn Mower,1525469652740,5,None,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26939,1.173551e+20,Lilliana Caraballo,1564103311038,5,None,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26940,1.166286e+20,shakira laguerre,1602859896810,5,None,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26941,1.079198e+20,Asher Igilov,1630423864027,5,None,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26942,1.032801e+20,Dina Blankenberger,1508842003412,5,None,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26943,1.102692e+20,Chanti Patterson,1574253950625,4,None,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26944,1.159762e+20,Scott Maroon,1549891051459,3,None,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26945,1.073504e+20,Mateo Solarte,1570404071619,5,None,None,None,0x88d9b2286102282d:0xb63f312066dc821c
26946,1.168640e+20,Fontrell Clarke,1597171307475,5,None,None,None,0x88d9b2286102282d:0xb63f312066dc821c

#### Conclusion

In [378]:
merged_df = google_metadata_1.merge(google_reviews_florida_1, on='gmap_id')
merged_df.sample(3)

,name_x,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,...,state,relative_results,url,user_id,name_y,time,rating,text,pics,resp
74218,Imperial Capital Cars,"Imperial Capital Cars, 1800 S State Rd 7, Mira...",0x88d9ab8f1e06abfb:0x747b5f50cca1120,None,25.994165,-80.207316,[Used car dealer],4.4,328,None,...,Closed ⋅ Opens 9AM Wed,"[0x88d9aeb9b5e9db27:0x87e578770754f530, 0x88d9...",https://www.google.com/maps/place//data=!4m2!3...,1.082935e+20,Âłbęrt Päjøttė,1511227730665,4,I can’t wait to take my girlfriend back for he...,None,None
25020,King Food Discount I,"King Food Discount I, 31 Seminole Rd, Atlantic...",0x88e44938060bcb49:0x79a22d423162d1b3,None,30.325083,-81.405591,None,4.0,6,None,...,None,"[0x88e5ae28eeb76841:0x2cebb7481ce6d7ba, 0x88e5...",https://www.google.com/maps/place//data=!4m2!3...,1.178593e+20,Bobby Jones,1551401354923,5,None,None,None
77163,Cruisin' Concepts Inc.,"Cruisin' Concepts Inc., 139 N Spring Garden Av...",0x88e71b4470a4893b:0x226efb343fd301d4,None,29.029044,-81.323861,"[Car accessories store, Auto parts store, Car ...",4.4,53,None,...,Open ⋅ Closes 5:30PM,"[0x88e71b042285f9a3:0xcad6e68807af6246, 0x88e7...",https://www.google.com/maps/place//data=!4m2!3...,1.043925e+20,Mark Rice,1626892016650,5,Honest reliable started work when appointment ...,None,None

In [379]:
merged_df.columns

Index(['name_x', 'address', 'gmap_id', 'description', 'latitude', 'longitude',
       'category', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC',
       'state', 'relative_results', 'url', 'user_id', 'name_y', 'time',
       'rating', 'text', 'pics', 'resp'],
      dtype='object')

aunque en primera instancia los datos parecen precisos no estan muy actualizados, ya que hay datos hasta 2022, en el dataframe de yelp varian un poco los años pero para tener una buena integridad de los archivos considero que hay que tomar los años que comprenden desde el 2009 hasta el 2018, en el caso de los datos de google no tienen una columna de fecha asi que no se puede saber con exactitud que tan recientes son los datos, pero a pesar de eso la integridad de los archivos parece bastante completa, tome como prueba tambien buscar los lugares que aparecen en el dataframe combinado que cree, en google maps si aparecen las fechas de las reseñas asique imagino que consultando los ids en la api de google maps mas adelante podre completar estos datos

## 2_ Completitud

Para esta segunda instancia voy a revisar si hay datos faltantes o no, y si son relevantes o no para el producto

#### Pruebas

In [380]:
yelp_review_df.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date', 'year'],
      dtype='object')

In [381]:
yelp_review_df.sample(5)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
46299,z3TsKUAKE5dnPzebs07gSw,Z3iUDHZ1Je9R37e2vZuglQ,NHL1c_30iYXvJZcqEo6fwQ,5,0,0,0,My favorite bar in nola! Second home status an...,2013-03-21 17:18:38,2013
46287,2STE_5QaVkfEoNzZVtkApw,yoKLNYqEYKiYdUHZGPPb4Q,eS4billU3Yd9hoVUFfZFbA,3,0,1,0,Hot dogs are very small but you get alot of ch...,2015-12-06 02:20:56,2015
91548,A_bI7RhoLWSduZsfanIcSQ,tCXElwhzekJEH6QJe3xs7Q,U30ggGzFpXvc2NZYwOW3qg,5,12,4,5,"Average Yelp rating of 5 stars, after 112 revi...",2013-10-06 17:31:57,2013
79751,7McGYPw5y4bBWL9rfSz_7w,s-Q7oEOhH0yxc24x48h2BQ,y5AmNH1LGeuBxbH5qREpPg,4,0,0,0,"The staff was very friendly, the rooms were cl...",2014-02-08 14:55:24,2014
35208,HdezTgK8C50xClvUVxpRiw,8B2VyOnh9P1A_YNj1CeoDw,D73evJ9PZKxO3E5TaThe3w,4,2,0,0,I'm all about the Mesquite Chicken Salad! The...,2010-07-14 16:24:31,2010

In [382]:
yelp_checkin_df.columns

Index(['business_id', 'date'], dtype='object')

In [383]:
yelp_checkin_df.sample(5)

,business_id,date
53082,OoHoPPUbJQWjDhZmh_919Q,[2014-12-23 22:55:48]
91018,gChI3fGMLXSYerxv1pXGYw,"[2014-06-27 15:25:26, 2015-08-25 18:30:40, 2..."
59500,RviNl36h6_3UxIHgWRXfFQ,"[2011-12-24 01:29:34, 2012-05-27 01:04:30, 2..."
31443,E8Tuiir4fL43l-bxVyksFg,"[2017-06-20 00:15:14, 2017-09-15 21:54:34, 2..."
13820,5cfMUhe1MwlH2EUwIuUZcg,"[2013-03-14 23:40:49, 2013-03-15 00:36:04, 2..."

In [384]:
yelp_tip_df.columns

Index(['user_id', 'business_id', 'text', 'date', 'compliment_count', 'year'], dtype='object')

In [385]:
yelp_tip_df.sample(5)

,user_id,business_id,text,date,compliment_count,year
16071,WCN5fiJ34_pWq0cv23I_ag,PA_MlxC2gw_Rc6bXfa1Q5Q,Visit the top floor for a spectacular view of ...,2014-04-01 23:17:58,0,2014
83589,NenDodwXi58-vb06A2t8YQ,yqq1Fvt7WtduIO3GwjCP1Q,Like hanging out upstairs with happy hour frie...,2013-11-18 22:27:36,0,2013
41986,u4fVHPzmuMlu7gA0srl7xQ,Gnn3GHyNiMHk4A7FiGgrOA,"Strawberry summer salad. Lettuce, chicken feta...",2018-03-04 19:45:59,0,2018
97509,9C_h-H1Z7Xz7dvbgsBrnSg,OHzX-ZD9qyoeoxR8Z0dlIA,The fried chicken vegan po boy please,2012-07-07 15:32:00,0,2012
48317,x7ATeMtx5JomCcdlyrPFNQ,619Lx9AfIuJjLVXV3DBpNQ,"Great service, beautiful flowers!",2013-02-25 20:57:29,0,2013

In [386]:
yelp_business_df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'business_id', 'name', 'address',
       'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars',
       'review_count', 'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [387]:
yelp_business_df.sample(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
63493,KZQV3QuwDmMrWPIwkbOhKA,Crate & Barrel,8701 Keystone Crossing,Indianapolis,MO,46240,39.913912,-86.109335,4.0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134080,gEtJsUngDiD1tq6j-6vZ5Q,Scoops,6870 Gulf Blvd,St. Pete Beach,TN,33706,27.738049,-82.748815,3.0,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85473,duyoUwRNcsudbl9wlu25cA,Safeway,7110 N Oracle Rd,Tucson,LA,85704,32.335833,-110.974742,2.5,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116094,iXu0iO3AV7mMYmLXWzz-gg,Hampton Inn & Suites Nashville/Goodlettsville,860 Conference Dr,Goodlettsville,NV,37072,36.3202,-86.702098,4.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129023,SC9CUJ7K_PnCK_RA1g__hA,Nashville Sweets,803 Woodland St,Nashville,PA,37206,36.174547,-86.758399,4.5,64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [388]:
yelp_user_df.columns

Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [389]:
yelp_user_df.sample(5)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
1649069,1lSCEDcValbqK9xMNgXPKw,Evy,4,2014-11-26 19:27:57,2,1,3,,"h7Izkm2m9u5buvttane27g, yNyBkEOxBYWxDN0_ZgH-kQ...",0,...,0,0,0,0,0,1,0,0,0,0
1380153,9gPVcyvlCrYViAO5Y4G8uQ,Carli,2,2011-10-07 12:08:05,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
709733,n7w0olFB2vbq2tJjjNvKvw,Kaeli,3,2016-12-11 04:14:22,1,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1862899,M_XFQ37xFeULMybCGZkbjA,Caitlin,2,2011-12-06 23:22:08,0,0,0,,"lbZYQSjdAJH7_oi_Vlkrug, I4i-Lu6n1pjbO6DFcWi-Mg...",0,...,1,0,0,0,0,0,0,0,0,0
144803,DglBydhVTFDJ3E6zRFKhvw,Liz,1,2014-12-02 00:13:07,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0

In [390]:
google_metadata_1.columns

Index(['name', 'address', 'gmap_id', 'description', 'latitude', 'longitude',
       'category', 'avg_rating', 'num_of_reviews', 'price', 'hours', 'MISC',
       'state', 'relative_results', 'url'],
      dtype='object')

In [391]:
google_metadata_1.sample(5)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
193608,Tyson's Model City Glass Co,"Tyson's Model City Glass Co, 101 W 10th St, An...",0x888bb3eb1b52734f:0x156c7e4401d6a46c,None,33.657321,-85.831626,[Glass & mirror shop],4.6,8,None,"[[Tuesday, 8AM–4PM], [Wednesday, 8AM–4PM], [Th...","{'Service options': ['In-store shopping'], 'Ac...",Open ⋅ Closes 4PM,"[0x888bb16102b9f293:0xfd421e5a1c0fb2dc, 0x888b...",https://www.google.com/maps/place//data=!4m2!3...
10316,Carrell's Country Living,"Carrell's Country Living, 23495 WI-64, Cornell...",0x52ab5810c28e4c95:0xcfc7c988fb73a4a2,None,45.154104,-91.205601,[Holiday apartment],4.0,6,None,None,None,None,"[0x52acb218e6e451a5:0xc82bbb1fa98199e4, 0x52ac...",https://www.google.com/maps/place//data=!4m2!3...
105520,"B & B Electrical Services, Inc.","B & B Electrical Services, Inc., 7532 Calvin L...",0x88e7f50d12ec5705:0x7359a03c434f67da,None,28.456837,-81.900420,[Electrician],4.3,6,None,"[[Sunday, Open 24 hours], [Monday, Open 24 hou...",None,Open 24 hours,"[0x88e78b68e7ef6847:0x49d9c0240741bd48, 0x88e7...",https://www.google.com/maps/place//data=!4m2!3...
27273,NL Moving LLC,"NL Moving LLC, 3810 N Tulsa Ave Suite H, Oklah...",0x87b21b93c5e8c555:0x5a125e3ddd7bc6ce,None,35.509106,-97.591708,"[Mover, Piano moving service]",4.6,188,None,"[[Thursday, 8AM–6PM], [Friday, 8AM–6PM], [Satu...",None,Open ⋅ Closes 6PM,"[0x87b216c0c1c6a0f7:0xc193314b032e3a62, 0x87b2...",https://www.google.com/maps/place//data=!4m2!3...
147054,Sherman Police Department,"Sherman Police Department, 317 S Travis St, Sh...",0x864c883a562f04cb:0x4c076a86cfa82199,None,33.634071,-96.608206,[Police department],3.2,17,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,"[0x864c883a74c95893:0x91ddea04e43d5b82, 0x864c...",https://www.google.com/maps/place//data=!4m2!3...

In [392]:
google_reviews_florida_1.columns

Index(['user_id', 'name', 'time', 'rating', 'text', 'pics', 'resp', 'gmap_id'], dtype='object')

In [393]:
google_reviews_florida_1.sample(5)

,user_id,name,time,rating,text,pics,resp,gmap_id
79394,1.033409e+20,Claude Sharpe,1497459242281,3,Ok,None,None,0x88e5b11d4a671191:0x937bf03c93a3812
5495,1.101676e+20,Malhui Goodson,1607279791030,5,You need change your life? There is answer for...,None,None,0x88c2ef35997b4b5d:0xe683778b51b6737
17779,1.124184e+20,David Ginsburg,1580077407458,5,Very friendly & honest people to work with. Pr...,None,None,0x88e7d7835fbe8a89:0xa6deb11e1045ae4d
149665,1.162788e+20,Debra Kearney,1600095345784,5,Linda Johnson is the BEST EVER! May she never...,None,None,0x88c4a826ca7fab03:0xf91701e98a65adc5
82667,1.022097e+20,S H,1497461697110,4,None,None,None,0x88c291deda300b9b:0x80b777635abe65c2

#### Conclusion

en los datos de yelp se puede ver que en los datos de business a partir de la mitad las columnas se repiten pero con todos los datos nulos ese es un caso donde habria que hacer una limpieza, tambien en el dataset de users las columnas de compliment en su gran mayoria tambien tiene datos vacios, considerando esto los datos no son relevantes para un posterior analisis, en los datos de google metadata la gran mayoria de descripciones y precios tambien se encuentran vacios, y en el dataset google reviews tambien tiene se encuentran vacios las columnas pics y resp todas estas columnas se podran descartar ya que estan muy incompletos

## 3_ Consistencia

Compruebo que los datos sean consistentes entre las distintas fuentes

#### Pruebas

In [394]:
yelp_review_df.sample(5)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
89298,iOKeuuTLm7zkLK89Pq2PUw,PwB2Fp-_ut6hNJpZ_LkKmA,VKBuUNM_9TGvle-Agq-bjg,1,3,0,0,"Overpriced burgers, that are small and suck. D...",2017-09-03 23:48:16,2017
76181,vavMU7LV8WFk53mlYVrCaw,HKnkNPcx7el2ttw_Lb0j_g,R77LwVI3wPAFmDLrXt3zZA,5,2,0,0,Go here!! It. Is. Sooogoood. Had a Cubano and ...,2017-05-02 16:45:39,2017
15800,P2ArWlmgcDTPBeiYksIWpA,hj6Km_xKbAkJdOaiha3ffg,c-IgS6Pk6vMyax7Rbr38eA,5,0,0,0,Great place on Main Street! Super folks operat...,2018-09-03 01:20:42,2018
55397,zjBtHups7ONivPkF6x8mHg,BWCfrCgPHdOMV9zYr4eFrg,69MquJNC3BpgOZvHtutZ-w,5,1,0,0,This review is so long overdue. What an awesom...,2018-01-22 06:20:15,2018
25956,H7dcdGwzKOoBJJCqTBUF0A,DVNvwesUhDijM8jq-nIA2w,cX1VH_vpqGoLrio4sV9xcA,5,0,0,0,Best Raviolis and sauce! Huge menu. If you c...,2016-01-31 10:55:10,2016

In [395]:
yelp_checkin_df.sample(5)

,business_id,date
6757,2DBIXT490jZZ2YWclLKT_Q,"[2011-12-10 22:25:32, 2012-01-13 23:15:53, 2..."
40349,IZv79jZv6el1sBHrG7426g,"[2011-12-03 01:57:25, 2011-12-07 01:19:02, 2..."
62581,TR81mkmFQFW5Os1_KACe3A,"[2016-06-18 19:44:18, 2016-07-16 19:04:54, 2..."
40244,IWaYoVUU-qbH_nTjgG4gdw,"[2016-08-07 16:01:46, 2018-10-03 20:11:36]"
37974,HMjWoMg-IAODG7m7YP0ZJA,"[2018-09-05 22:01:20, 2018-09-11 22:33:18, 2..."

In [396]:
yelp_tip_df.sample(5)

,user_id,business_id,text,date,compliment_count,year
55683,moyR50MY9yYZ_hbx5gC8Hg,3OGzmGqWwsyGLkhnxrA9Pw,Great for gluten free,2010-08-23 15:16:48,0,2010
96609,7ajfMmBJGkFU1kTur3DkkA,eyQL0pS7agcZtdKYQ-tJGw,Oktoberfest,2013-06-30 14:55:29,0,2013
54897,AaJ9d4OrFmgc4S_U2QiSZg,5RN4m3XO66jK4ThoDX3VnA,Brand-spanking new PDQ. Next to Wawa on Waters...,2010-05-29 02:30:35,0,2010
88994,ytqI9hBiB17L2nUCYbuI5Q,2Qr_Wu2mxV2tjzZiBLvWsQ,"Moved. To 11519 Allisonville Rd, Fishers. Chan...",2017-03-16 20:11:25,0,2017
27266,KA6qEMS_bGFaGWgIGLYViw,uE_4H__4kj4Xjb115_LBvA,Nice selection.,2010-01-10 21:32:38,0,2010

In [397]:
yelp_business_df.sample(5)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
123364,k3a_4jawwse8D0T48mdbOQ,Simply Bits,5225 N Sabino Canyon Rd,Tucson,ID,85750,32.302169,-110.824646,3.0,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85723,WKPIxkkJ6VQWjv5RxSWz0Q,Superior Seal Coating,204 W Lafayette St,West Chester,PA,19380,39.962701,-75.610553,3.5,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44396,hiVEYICpbE4hV_LMZpMY6g,El Burrito Patio Restaurant,"10420 N La Canada Dr, Ste 180",Oro Valley,AZ,85737,32.395837,-110.993743,2.5,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91468,scQI1zjBnAK6IroV9Mgj7g,Lexus Lounge,Bridgestone Arena,Nashville,MO,37203,36.159174,-86.778496,4.0,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27239,Cg8YlLmaLUOyjQ1j72F-Tg,Tucson College of Beauty,3955 N Flowing Wells Rd,Tucson,FL,85705,32.278946,-110.996058,2.5,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [398]:
yelp_user_df.sample(5)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
1820282,BRFoHT5EwevoHo3HAyscIQ,Jeremy,7,2010-03-28 13:43:56,10,3,0,,"EjfoKR0Gh7tOClk7RmJYCw, 5OhNoC0Q2qq3HkwXIVWjLg...",0,...,0,0,0,0,0,0,0,0,0,0
155991,taHWrdxu-B-0mOfwmwp9_A,Kate,15,2012-03-31 20:44:26,21,4,7,,None,0,...,0,0,0,0,0,0,0,0,0,0
101339,mwOkbVlRdpq48Si01ZDbAg,Geoff,6,2013-05-29 21:14:55,1,0,0,,fF0ebGWM41P0mTjbAIXAow,0,...,0,0,0,0,0,0,0,0,0,0
348105,0-gOcgcr6gu_koW0TvLMDg,Michelin,10,2018-11-11 19:09:54,5,1,1,,None,0,...,0,0,0,0,0,0,0,0,0,0
120084,jB9RupWsqQAIudGMj-X70w,Misty,32,2015-09-18 00:19:35,11,2,3,,"23SGEKJpdirkJ2Uv1Zl3Eg, k8L7pzISK5u4ELSZhh-vgg...",0,...,0,0,0,0,0,1,0,0,0,0

In [399]:
google_metadata_1.sample(5)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
48289,Hickory Creek,"Hickory Creek, North Carolina",0x8859e378ed4cc49d:0x3aa996cc5d1a2a22,None,35.462635,-82.315226,[River],4.6,5,None,None,None,None,None,https://www.google.com/maps/place/North+Caroli...
272010,Luther Memorial Church,"Luther Memorial Church, 1162 Mohawk St, Syracu...",0x87943a50f4e37819:0xd80e13cc1e84b02e,None,40.663142,-96.187061,[Protestant church],4.9,8,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,"[0x87943a5b669d4ba1:0x11d015131ba6d0ce, 0x8794...",https://www.google.com/maps/place//data=!4m2!3...
93395,Big Js Moving & Delivery Service,"Big Js Moving & Delivery Service, 228 N Solms ...",0x865c97411bbf2d51:0x844bdb5f4502e7a1,None,29.666882,-98.171651,"[Moving and storage service, Mover]",4.8,15,None,"[[Monday, Open 24 hours], [Tuesday, Open 24 ho...",None,Open 24 hours,"[0x865cbd6c61e87fcf:0x1a34e101c5d74fa2, 0x865c...",https://www.google.com/maps/place//data=!4m2!3...
271096,Conny Creek Brew Cafe,"Conny Creek Brew Cafe, 270 W Water St, Saxonbu...",0x88349f78e73dff9d:0x9822a24345cb447d,None,40.754573,-79.814343,[Pub],5.0,4,None,"[[Saturday, 11AM–8PM], [Sunday, 11AM–4PM], [Mo...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 8PM,None,https://www.google.com/maps/place//data=!4m2!3...
55012,Fish Nutz Outfitters,None,0x8760bd5c3d143f97:0x4e72f475f49eec4b,None,42.821603,-106.324880,"[Fishing charter, Service establishment]",5.0,5,None,"[[Tuesday, 8AM–8PM], [Wednesday, 8AM–8PM], [Th...",None,Open ⋅ Closes 8PM,None,https://www.google.com/maps/place//data=!4m2!3...

In [400]:
yelp_business_df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'business_id', 'name', 'address',
       'city', 'state', 'postal_code', 'latitude', 'longitude', 'stars',
       'review_count', 'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')

In [401]:
# Eliminamos todas las columnas después de la columna 13
yelp_business_df = yelp_business_df.iloc[:, :13]

# Imprimimos las primeras filas del DataFrame para verificar el cambio
yelp_business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop..."
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food"

In [402]:
yelp_business_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
dtypes: object(13)
memory usage: 16.1+ MB

In [403]:
yelp_business_df.sample(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories
115397,3kc3uUSAZI-NWsDm785uvg,Nail Vana,3920 Lebanon Park,Hermitage,PA,37076,36.194569,-86.623538,4.5,24,0,"{'RestaurantsPriceRange2': '2', 'ByAppointment...","Nail Salons, Beauty & Spas"
42315,Lt2WKkp7MZ836DeHVcX0GQ,Earthscapes Garden Room,816 Alt 19,Palm Harbor,NJ,34683,28.075509,-82.766967,4.5,5,1,None,"Nurseries & Gardening, Shopping, Landscape Arc..."
115151,Pw_uQy7ve49W1CIMaBuqqg,Tony's Pizzeria & Ristorante,428 Cleveland St,Clearwater,FL,33755,27.965727,-82.800268,3.0,79,0,"{'BusinessAcceptsCreditCards': 'True', 'Alcoho...","Bars, Pizza, Italian, Nightlife, Food, Restaur..."

In [404]:

yelp_business_df['name_str'] = yelp_business_df['name'].apply(lambda x: ' '.join(map(str, x)) if isinstance(x, list) else str(x))

# Verificamos el cambio
yelp_business_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  name_str      150346 non-null  object
dtypes: object(14)
memory usage: 17.2+ MB

In [405]:
yelp_business_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,name_str
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...","Abby Rappoport, LAC, CMQ"
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",The UPS Store
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...",Target
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",St Honore Pastries
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food",Perkiomen Valley Brewery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas",Binh's Nails
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...",Wild Birds Unlimited
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",Claire's Boutique
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...",Cyclery & Fitness Center
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.39491,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",Sic Ink

In [406]:
yelp_business_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,name_str
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...","Abby Rappoport, LAC, CMQ"
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...",The UPS Store
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...",Target
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",St Honore Pastries
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food",Perkiomen Valley Brewery
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas",Binh's Nails
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...",Wild Birds Unlimited
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",Claire's Boutique
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...",Cyclery & Fitness Center
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.39491,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo",Sic Ink

In [407]:
filtered_df = yelp_business_df[yelp_business_df['name'].str.contains('Fitness', na=False)]
filtered_df = filtered_df.sort_values('name')
filtered_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,name_str
59150,0FZ4jHSfxbm4CIMBkGWCcQ,24 Hour Fitness,14885 W Clayton Rd,Chesterfield,AZ,63017,38.616907,-90.539951,3.5,16,0,"{'GoodForKids': 'False', 'ByAppointmentOnly': ...","Active Life, Trainers, Fitness & Instruction, ...",24 Hour Fitness
13951,OxUvXOJpOqw0mhnebluITg,24 Hour Fitness,1095 Regency Pkwy,St Charles,DE,63303,38.783303,-90.5297,2.5,12,0,{'GoodForKids': 'True'},"Active Life, Gyms, Fitness & Instruction, Trai...",24 Hour Fitness
75376,WWSNB60X5PkkFY6Py_XVTw,24 Hour Fitness,215 Arnold Crossroads,Arnold,LA,63010,38.445775,-90.375925,3.0,14,0,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Gyms, Fitness & Instruction, Active Life, Trai...",24 Hour Fitness
140334,HxDjWvsS5szkuplo5BfBeg,24 Hour Fitness,10320 Manchester Rd,Kirkwood,PA,63122,38.599643,-90.397711,3.5,13,0,"{'GoodForKids': 'True', 'BikeParking': 'True',...","Trainers, Active Life, Fitness & Instruction, ...",24 Hour Fitness
25177,RxIei9FPswrqWNbOrvvAiA,24 Hour Fitness - Reno,1595 Sky Mountain Dr,Reno,FL,89503,39.524677,-119.858829,2.5,83,0,"{'GoodForKids': 'False', 'ByAppointmentOnly': ...","Active Life, Fitness & Instruction, Gyms, Trai...",24 Hour Fitness - Reno
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96374,Z2lPPepL10Mb13Ztw4IDEA,Zarett Rehab and Fitness,520 S 19th St,Philadelphia,NV,19146,39.945054,-75.173561,4.0,53,1,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...","Doctors, Health & Medical, Rehabilitation Cent...",Zarett Rehab and Fitness
43897,caK7I7Cw01SetS4iewMQdg,Zone Fitness Club,"4802 Gunn Hwy, Suite 142",Tampa,NJ,33624,28.051788,-82.525765,2.5,12,1,"{'ByAppointmentOnly': 'False', 'BikeParking': ...","Trainers, Active Life, Fitness & Instruction, ...",Zone Fitness Club
29855,KabN4d4St6gxsVIA1KzS7A,Zone Fitness Clubs,1252 Seven Springs Blvd,New Port Richey,FL,34655,28.178204,-82.697888,2.0,19,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Fitness & Instruction, Trainers, Active Life, ...",Zone Fitness Clubs
76295,RKd0lT_ysCRTv8HhFzuk8w,goPerformance & Fitness,"209 10th Ave S, Ste 149",Nashville,DE,37203,36.154729,-86.782348,5.0,18,0,"{'GoodForKids': 'False', 'ByAppointmentOnly': ...","Active Life, Boot Camps, Health & Medical, Gym...",goPerformance & Fitness
70431,Scu1CQ1D1D33tYGShkYm7g,iRoy Sport Fitness,1010 W Germantown Pike,East Norriton,ID,19403,40.155778,-75.365793,3.5,15,1,{'GoodForKids': 'True'},"Active Life, Fitness & Instruction, Yoga, Gyms...",iRoy Sport Fitness

In [408]:
google_metadata_1

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,None,32.388300,-83.357100,[Pharmacy],4.9,16,None,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...",https://www.google.com/maps/place//data=!4m2!3...
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,None,34.018891,-118.215290,[Textile exporter],4.5,6,None,None,None,Open now,"[0x80c2c624136ea88b:0xb0315367ed448771, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.292130,[Korean restaurant],4.4,18,None,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,None,34.023669,-118.232930,[Fabric store],3.3,6,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...","{'Service options': ['In-store shopping'], 'Pa...",Open ⋅ Closes 5PM,"[0x80c2c8811477253f:0x23a8a492df1918f7, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,None,34.036694,-118.249421,[Fabric store],4.3,7,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",{'Service options': ['In-store pickup']},Open ⋅ Closes 5PM,"[0x80c2c62c496083d1:0xdefa11317fe870a1, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274996,Maven Realty,"Maven Realty, 2180 McMillan Ave #71672, North ...",0x88fe64e7daceaaab:0x101c046dcadcc9c3,None,32.857737,-79.985839,[Real estate agency],4.9,15,None,"[[Saturday, Open 24 hours], [Sunday, Open 24 h...",None,Open 24 hours,"[0x88fe657160ccc965:0xc675c849dc6d96ba, 0x88fe...",https://www.google.com/maps/place//data=!4m2!3...
274997,Stone Castle Fence,"Stone Castle Fence, 124 Cypress Gardens Rd, Mo...",0x88fe59f4602c95fd:0x57e2b1904d9e6949,None,33.089951,-80.078021,"[Fence contractor, Construction company, Contr...",4.0,18,None,"[[Saturday, Closed], [Sunday, Closed], [Monday...",None,Closed ⋅ Opens 7AM Mon,"[0x88fe8d1444299bbb:0x91daa2e82c59ea94, 0x88fe...",https://www.google.com/maps/place//data=!4m2!3...
274998,Health Insurance Solutions Team,"Health Insurance Solutions Team, 6650 Rivers A...",0x88fe71f9617c15e1:0x89518c1d251706bf,None,32.918858,-80.027952,[Health insurance agency],5.0,18,None,"[[Saturday, Closed], [Sunday, Closed], [Monday...","{'Service options': ['Online appointments'], '...",Closed ⋅ Opens 8AM Mon,"[0x88fe6fe45b8d3f15:0x41d4b940a40b246a, 0x88fe...",https://www.google.com/maps/place//data=!4m2!3...
274999,Bernard Building Center,"Bernard Building Center, 27300 M-32, M-32, Hil...",0x4d34c7517d6e6e29:0x7fe553ee2f090cf0,None,45.056691,-83.894423,"[Building materials store, Electrical supply s...",4.7,25,None,"[[Saturday, 8AM–3PM], [Sunday, Closed], [Monda...","{'Service options': ['Curbside pickup', 'Deliv...",Closed ⋅ Opens 7:30AM Mon,"[0x4d335f6408d395d9:0xc20dea80d4c100d8, 0x4d34...",https://www.google.com/maps/place//data=!4m2!3...
275000,HMR Motor Works and Auto Care,"HMR Motor Works and Auto Care, Mio, MI 48647",0x88208f4360c053ab:0xe3d6883f19601a01,None,44.649195,-84.130324,[Auto repair shop],4.4,13,None,"[[Saturday, 9AM–5:30PM], [Sunday, Closed], [Mo...",{'Accessibility': ['Wheelchair accessible entr...,Open ⋅ Closes 5:30PM,"[0x88208e43a516e3ab:0xbb20b293f8e97ab2, 0x8820...",https://www.google.com/maps/place//data=!4m2!3...

In [409]:
filtered_df = google_metadata_1[google_metadata_1['name'].str.contains('Fitness', na=False)]
filtered_df = filtered_df.sort_values('name')
filtered_df

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
170097,20 Minutes to Fitness,"20 Minutes to Fitness, 11610 N Dale Mabry Hwy,...",0x88c2c0e479d5de7d:0x88c3ced7818fd4e0,None,28.053894,-82.504814,[Physical fitness program],5.0,6,None,"[[Wednesday, 7AM–7PM], [Thursday, 7AM–6PM], [F...",{'Accessibility': ['Wheelchair accessible entr...,Open ⋅ Closes 7PM,"[0x88c2bf622e2f3125:0x5c10a4d43b96c31c, 0x88c2...",https://www.google.com/maps/place//data=!4m2!3...
182562,24 Hour Fitness,"24 Hour Fitness, 2130 S 314th St, Federal Way,...",0x5490577eba1de703:0x8b37ee75a025872f,None,47.321072,-122.305894,"[Gym, Fitness center, Personal trainer]",3.2,17,None,"[[Tuesday, Open 24 hours], [Wednesday, Open 24...",{'Accessibility': ['Wheelchair accessible entr...,Permanently closed,"[0x5490573d76e5c78d:0x4afbe8ea7947676f, 0x5490...",https://www.google.com/maps/place//data=!4m2!3...
155664,24 Hour Fitness,"24 Hour Fitness, 1095 Regency Pkwy, St Charles...",0x87df28d3e521e3a1:0x7cdbae71fc0a90fa,None,38.783317,-90.529709,"[Fitness center, Gym, Personal trainer]",2.7,6,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,"[0x87ded70810072d3b:0xfea8ad2c121c25af, 0x87df...",https://www.google.com/maps/place//data=!4m2!3...
44602,24 Hour Fitness,"24 Hour Fitness, 1327 Centennial Ave, Piscataw...",0x89c3b9840f28e14d:0xbe4db60108d3e8ad,None,40.553494,-74.438915,"[Gym, Fitness center, Personal trainer, Physic...",4.5,12,None,"[[Wednesday, Open 24 hours], [Thursday, Open 2...",{'Accessibility': ['Wheelchair accessible entr...,Permanently closed,"[0x89c3b86b9d0513d5:0x9fa25f624245df7, 0x89c3b...",https://www.google.com/maps/place//data=!4m2!3...
213772,24 Hour Fitness,"24 Hour Fitness, 600 Newport Center Dr, Newpor...",0x80dce08425e37359:0x1a5bf2b0e741785e,None,33.617886,-117.871711,"[Fitness center, Gym, Personal trainer]",2.3,3,None,"[[Monday, 4AM–11:59PM], [Tuesday, 12AM–11:59PM...",{'Accessibility': ['Wheelchair accessible entr...,Permanently closed,"[0x80dcde567770179f:0xcb97117ed8482b59, 0x80dc...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253498,dfc Cycles and Fitness,"dfc Cycles and Fitness, 6701 Indiana Ave D, Lu...",0x86fe6d803911e6e9:0x8bcaed1b3f1fb120,None,33.533152,-101.887143,"[Bicycle repair shop, Bicycle Shop]",4.0,48,None,"[[Sunday, Closed], [Monday, 10AM–6PM], [Tuesda...",{'Accessibility': ['Wheelchair accessible entr...,Closed ⋅ Opens 10AM Mon,"[0x86fe729a40d4e389:0xc608062beb5b2010, 0x86fe...",https://www.google.com/maps/place//data=!4m2!3...
23797,e3 Fitness,"e3 Fitness, 1610 Little Raven St #135, Denver,...",0x876c794ee4afb6bf:0x48e7e9941985ac1c,None,39.755026,-105.004039,[Gym],5.0,2,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,None,https://www.google.com/maps/place//data=!4m2!3...
50370,e3 Fitness,"e3 Fitness, 1610 Little Raven St #135, Denver,...",0x876c794ee4afb6bf:0x48e7e9941985ac1c,None,39.755026,-105.004039,[Gym],5.0,2,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,None,https://www.google.com/maps/place//data=!4m2!3...
257480,iCON Fitness Studio,"iCON Fitness Studio, 38397 Innovation Ct #104,...",0x80db7dd140276893:0xb70cef7f3ed9e34d,None,33.560443,-117.133707,"[Gym, Athletic club, Fitness center, Personal ...",5.0,8,None,"[[Sunday, Closed], [Monday, 5:30AM–6:30PM], [T...","{'Service options': ['Outdoor services', 'Onsi...",Closed ⋅ Opens 5:30AM Mon,"[0x80dc8370e88186d3:0xc8a3bc1833f5884a, 0x80dc...",https://www.google.com/maps/place//data=!4m2!3...
266560,rozkz Fitness Mon by Appt,"rozkz Fitness Mon by Appt, 5903 Wellington Dr,...",0x8644c9fac996751f:0x6791c0be687b9c5b,None,30.312153,-97.687831,[Gym],5.0,1,None,None,None,None,"[0x8644c9f07c84d5ad:0x781800cf3e04f99a, 0x8644...",https://www.google.com/maps/place//data=!4m2!3...

In [410]:
#google_metadata_1_unique = google_metadata_1.drop_duplicates(subset='name')
#yelp_business_df_unique = yelp_business_df.drop_duplicates(subset='name')

#merged_df = google_metadata_1_unique.merge(yelp_business_df_unique, on='name')

In [411]:
#merged_df

,name_x,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,...,state,relative_results,url,user_id,name_y,time,rating,text,pics,resp
0,"Brian Shaheen, MD","Brian Shaheen, MD, 2421 Thomas Dr, Panama City...",0x8893863ea87bd5dd:0x9383ebf973e74abb,None,30.159982,-85.752277,"[Family practice physician, General practitioner]",4.2,18,None,...,Open ⋅ Closes 5PM,"[0x88938ebfbd53f9c5:0xf6e52004f37523c8, 0x8893...",https://www.google.com/maps/place//data=!4m2!3...,1.014719e+20,Julie A. Gerber,1628003250740,1,Update: Their “reply” to my review amounted to...,None,"{'time': 1627042799532, 'text': 'Thank you for..."
1,"Brian Shaheen, MD","Brian Shaheen, MD, 2421 Thomas Dr, Panama City...",0x8893863ea87bd5dd:0x9383ebf973e74abb,None,30.159982,-85.752277,"[Family practice physician, General practitioner]",4.2,18,None,...,Open ⋅ Closes 5PM,"[0x88938ebfbd53f9c5:0xf6e52004f37523c8, 0x8893...",https://www.google.com/maps/place//data=!4m2!3...,1.154772e+20,Martin Sheffield,1595031217005,5,He's a knowledgeable doctor but the way he run...,None,"{'time': 1582464056733, 'text': 'Thank you for..."
2,"Brian Shaheen, MD","Brian Shaheen, MD, 2421 Thomas Dr, Panama City...",0x8893863ea87bd5dd:0x9383ebf973e74abb,None,30.159982,-85.752277,"[Family practice physician, General practitioner]",4.2,18,None,...,Open ⋅ Closes 5PM,"[0x88938ebfbd53f9c5:0xf6e52004f37523c8, 0x8893...",https://www.google.com/maps/place//data=!4m2!3...,1.018050e+20,Brian Truett,1522924253567,5,"Best doctor I've ever had, I never wait to be ...",None,None
3,"Brian Shaheen, MD","Brian Shaheen, MD, 2421 Thomas Dr, Panama City...",0x8893863ea87bd5dd:0x9383ebf973e74abb,None,30.159982,-85.752277,"[Family practice physician, General practitioner]",4.2,18,None,...,Open ⋅ Closes 5PM,"[0x88938ebfbd53f9c5:0xf6e52004f37523c8, 0x8893...",https://www.google.com/maps/place//data=!4m2!3...,1.063444e+20,Tina Sun,1467907819586,1,I was told he is a good doctor. I was trying t...,None,None
4,"Brian Shaheen, MD","Brian Shaheen, MD, 2421 Thomas Dr, Panama City...",0x8893863ea87bd5dd:0x9383ebf973e74abb,None,30.159982,-85.752277,"[Family practice physician, General practitioner]",4.2,18,None,...,Open ⋅ Closes 5PM,"[0x88938ebfbd53f9c5:0xf6e52004f37523c8, 0x8893...",https://www.google.com/maps/place//data=!4m2!3...,1.008751e+20,James Haynes,1480683415081,5,Takes the time to actually get to know his pat...,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103107,Braille Works Inc,"Braille Works Inc, 941-942 Darby Lake St, Seff...",0x88c2cb98d28a4a9b:0xc70261ba3f07e20,None,28.009534,-82.263549,[Transcription service],4.4,36,None,...,Closed ⋅ Opens 8AM Mon,"[0x88c2ce567621643f:0x9e5919fc3ca0b2de, 0x88c2...",https://www.google.com/maps/place//data=!4m2!3...,1.048355e+20,Jenna,1619559367874,5,None,None,None
103108,Braille Works Inc,"Braille Works Inc, 941-942 Darby Lake St, Seff...",0x88c2cb98d28a4a9b:0xc70261ba3f07e20,None,28.009534,-82.263549,[Transcription service],4.4,36,None,...,Closed ⋅ Opens 8AM Mon,"[0x88c2ce567621643f:0x9e5919fc3ca0b2de, 0x88c2...",https://www.google.com/maps/place//data=!4m2!3...,1.003701e+20,Tamicka Raburn,1484330426581,5,None,None,None
103109,Braille Works Inc,"Braille Works Inc, 941-942 Darby Lake St, Seff...",0x88c2cb98d28a4a9b:0xc70261ba3f07e20,None,28.009534,-82.263549,[Transcription service],4.4,36,None,...,Closed ⋅ Opens 8AM Mon,"[0x88c2ce567621643f:0x9e5919fc3ca0b2de, 0x88c2...",https://www.google.com/maps/place//data=!4m2!3...,1.089715e+20,SnowPhoenyx Nerd Zone,1505388873016,4,None,None,None
103110,Braille Works Inc,"Braille Works Inc, 941-942 Darby Lake St, Seff...",0x88c2cb98d28a4a9b:0xc70261ba3f07e20,None,28.009534,-82.263549,[Transcription service],4.4,36,None,...,Closed ⋅ Opens 8AM Mon,"[0x88c2ce567621643f:0x9e5919fc3ca0b2de, 0x88c2...",https://www.google.com/maps/place//data=!4m2!3...,1.094503e+20,richard durfee,1502540602822,5,None,None,None
103111,Braille Works Inc,"Braille Works Inc, 941-942 Darby Lake St, Seff...",0x88c2cb98d28a4a9b:0xc70261ba3f07e20,None,28.009534,-82.263549,[Transcription service],4.4,36,None,...,Closed ⋅ Opens 8AM Mon,"[0x88c2ce567621643f:0x9e5919fc3ca0b2de, 0x88c2...",https://www.google.com/maps/place//data=!4m2!3...,1.062124e+20,Luckee Almodovar,1510095056713,1,None,None,None

In [412]:
#filtered_df = merged_df[merged_df['name'].str.contains('Fitness', na=False)]
#filtered_df.sample(5)

KeyError: 'name'

#### Conclusion

es un poco dificil encontrar la paridad de entre ambos datasets pero si las hay, llego a la conclusion que los problemas que se generan para sacar relacion entre los datos se debe a que solo estoy trabajando con una pequeña parte de estos, por ejemplo solo para hacer las pruebas estoy trabajando con solo un metadata de google, y la totalidad de yelp business, pese a esto se puede encontrar coincidencias y se pueden emparentar las tablas a travez de las columnas name que contienen el nombre del local, o las coordenadas de las mismas, en cuanto a la relacion entre cada uno de los datasets por separado, yelp tiene sus datos bien emparentados a travez de los distintos ids como el business_id o el user_id y los datos de google estan emparentados a travez de sus columnas gmap_id

## 4_ Unicidad

Identifico y Elimino duplicados en los datos

#### Pruebas

funcion para contar registros duplicados

In [ ]:
def count_duplicate_rows(df):
    # Convierte los diccionarios y las listas a cadenas
    df = df.applymap(lambda x: str(x) if isinstance(x, (dict, list)) else x)
    
    # Cuenta las filas duplicadas
    duplicate_rows_df = df[df.duplicated()]
    
    # Devuelve el número de filas duplicadas
    return len(duplicate_rows_df)

In [ ]:
count_duplicate_rows(yelp_business_df)

C:\Users\Facundete\AppData\Local\Temp\ipykernel_30108\556045293.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x) if isinstance(x, (dict, list)) else x)

0

In [ ]:
count_duplicate_rows(yelp_checkin_df)

C:\Users\Facundete\AppData\Local\Temp\ipykernel_30108\556045293.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x) if isinstance(x, (dict, list)) else x)

0

In [ ]:
count_duplicate_rows(yelp_review_df)

C:\Users\Facundete\AppData\Local\Temp\ipykernel_30108\556045293.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x) if isinstance(x, (dict, list)) else x)

0

In [ ]:
count_duplicate_rows(yelp_tip_df)

C:\Users\Facundete\AppData\Local\Temp\ipykernel_30108\556045293.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x) if isinstance(x, (dict, list)) else x)

0

In [ ]:
count_duplicate_rows(yelp_user_df)

C:\Users\Facundete\AppData\Local\Temp\ipykernel_30108\556045293.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x) if isinstance(x, (dict, list)) else x)

117700

In [414]:
count_duplicate_rows(google_metadata_1)

C:\Users\Facundete\AppData\Local\Temp\ipykernel_30108\556045293.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x) if isinstance(x, (dict, list)) else x)

26573

In [415]:
count_duplicate_rows(google_reviews_florida_1)

C:\Users\Facundete\AppData\Local\Temp\ipykernel_30108\556045293.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: str(x) if isinstance(x, (dict, list)) else x)

10714

#### Conclusion

hay bastantes registros duplicados, esto se va a tener que limpiar con una funcion para sacar los registros duplicados de todas los datasets que se van a utilizar mas adelante

## 5_ Relevancia

Evaluo si los datos son o no relevantes para nuestro producto

#### Pruebas

#### Conclusion

Actualmente, estamos en el proceso de evaluación para determinar qué datos serán prescindibles para nuestro producto final. Sin embargo, realizar un análisis en esta etapa inicial podría resultar en la eliminación de datos que podrían ser relevantes en etapas posteriores. Por lo tanto, la decisión sobre qué datos son prescindibles se tomará más adelante, basándose en su relevancia y disponibilidad para nuestro producto. Esta estrategia nos permitirá mantener la flexibilidad y asegurar que no descartamos información valiosa prematuramente.

# Conclusiones

<u>1. Validación de Datos:</u> Aunque los datos parecen precisos en una primera instancia, no están completamente actualizados, ya que solo contienen información hasta el año 2022. En el caso del DataFrame de Yelp, los años varían, pero para mantener la integridad de los archivos, considero apropiado tomar en cuenta los años que comprenden desde 2009 hasta 2018. En cuanto a los datos de Google, no disponen de una columna de fecha, lo que impide determinar la recencia de los datos con exactitud. Sin embargo, la integridad de los archivos parece bastante completa. Como prueba, busque los lugares que aparecen en el DataFrame combinado en Google Maps, donde sí aparecen las fechas de las reseñas. Por lo tanto, imagino que consultando los IDs en la API de Google Maps más adelante, podremos completar estos datos

---

<u>2. Completitud:</u> En los datos de Yelp, se puede observar que a partir de la mitad, las columnas en los datos de ‘business’ se repiten pero con todos los datos nulos, lo que requiere una limpieza. Además, en el dataset de ‘users’, las columnas de ‘compliment’ en su gran mayoría también tienen datos vacíos. Considerando esto, estos datos no son relevantes para un análisis posterior. En los datos de Google Metadata, la gran mayoría de descripciones y precios también se encuentran vacíos, y en el dataset de Google Reviews, las columnas ‘pics’ y ‘resp’ también están vacías. Todas estas columnas podrán descartarse ya que están muy incompletas.

---

<u>3. Consistencia:</u> Es un poco difícil encontrar la paridad entre ambos datasets, pero existen coincidencias. Los problemas que se generan para establecer una relación entre los datos se deben a que solo estamos trabajando con una pequeña parte de estos. Por ejemplo, solo para hacer las pruebas, estamos trabajando con solo un metadata de Google y la totalidad de Yelp Business. A pesar de esto, se pueden encontrar coincidencias y se pueden emparejar las tablas a través de las columnas ‘name’, que contienen el nombre del local, o las coordenadas de las mismas. En cuanto a la relación entre cada uno de los datasets por separado, Yelp tiene sus datos bien emparejados a través de los distintos IDs como el ‘business_id’ o el ‘user_id’ y los datos de Google están emparejados a través de sus columnas ‘gmap_id’.

---

<u>4. Unicidad:</u> Existen bastantes registros duplicados. Esto se tendrá que limpiar con una función para eliminar los registros duplicados de todos los datasets que se van a utilizar más adelante.

---

<u>5. Relevancia:</u> Actualmente, estamos en el proceso de evaluación para determinar qué datos serán prescindibles para nuestro producto final. Sin embargo, realizar un análisis en esta etapa inicial podría resultar en la eliminación de datos que podrían ser relevantes en etapas posteriores. Por lo tanto, la decisión sobre qué datos son prescindibles se tomará más adelante, basándose en su relevancia y disponibilidad para nuestro producto. Esta estrategia nos permitirá mantener la flexibilidad y asegurar que no descartamos información valiosa prematuramente.